<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.upc.veterinaryapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MainTheme"
        >
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="MENU" >
        </activity>
        <activity
            android:name=".CitaActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="CITA" >
        </activity>
        <activity
            android:name=".ServicioActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="SERVICIO" >
        </activity>
        <activity
            android:name=".MascotaActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="MI MASCOTA" >
        </activity>
        <activity
            android:name=".ReservarCitaActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="RESERVAR CITA" >
        </activity>
        <activity
            android:name=".ConsultarCitaActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="CONSULTAR CITAS PENDIENTES" >
        </activity>
        <activity
            android:name=".DetalleCitaActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="DETALLE DE CITA" >
        </activity>
        <activity
            android:name=".ServicioPeluqueriaActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="SERVICIO PELUQUERIA" >
        </activity>
        <activity
            android:name=".ConsultarServicio"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="CONSULTAR SERVICIOS PENDIENTES" >
        </activity>
        <activity
            android:name=".DetallePeluqueriaActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="DETALLE SERVICIO PELUQUERIA" >
        </activity>
    </application>

</manifest>
